# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ / VS Code
.idea/
.vscode/
*.iml

# Compiled files
*.class
*.jar
*.war
*.ear

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Spring Boot
application-local.properties

# Temporary files
*.tmp
*.bak
*.swp

# Java crash logs
hs_err_pid*
replay_pid*
